@import "tailwindcss";

@theme {
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Inter", sans-serif;
    --font-display: "Cinzel", serif;

    --color-osesp-brown: #2D1E12;
    --color-osesp-gold: #B8860B;
    --color-osesp-cream: #FAF9F6;
}

body {
    background-color: var(--color-osesp-cream);
    font-family: var(--font-sans);
}